<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AgentPurchaseMapper">
	
	<!--表名 -->
	<sql id="tableName">
		LSH_AGENT_PURCHASE
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		PURCHASE_ID,
		PURCHASE_NUMBER,	
		USER_ID,	
		AGENT_ID,	
		AGENT_STATUS,	
		AGENT_PRICE,	
		TYPE,	
		CREATE_TIME,
		STATUS,	
		PAY_TIME
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{PURCHASE_ID},	
		#{PURCHASE_NUMBER},
		#{USER_ID},	
		#{AGENT_ID},	
		#{AGENT_STATUS},	
		#{AGENT_PRICE},	
		#{TYPE},	
		#{CREATE_TIME},
		#{STATUS},	
		#{PAY_TIME}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			PURCHASE_ID = #{PURCHASE_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
		<if test="TYPE != null">
			TYPE = #{TYPE},
		</if>
		<if test="AGENT_STATUS != null">
			AGENT_STATUS = #{AGENT_STATUS},
		</if>
		<if test="PAY_TIME != null">
			PAY_TIME = #{PAY_TIME}
		</if>
		where 
		PURCHASE_ID = #{PURCHASE_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			PURCHASE_ID = #{PURCHASE_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
					<!--  PURCHASE_NUMBER LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') -->
				 
				)
		</if>
		order by CREATE_TIME desc
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		order by CREATE_TIME desc
	</select>
	
	<!-- 根据用户id查询列表(全部) -->
	<select id="listAllByUserId" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where USER_ID = #{USER_ID} 
		order by CREATE_TIME DESC
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			PURCHASE_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	
</mapper>